<!doctype html>
<title>Upload new File</title>
<h1>Upload new File</h1>
<form method=post enctype=multipart/form-data>
    <input type=file name=file>
    <input type=submit value=Upload>
    <input type=submit name=gray value=gray>
    <input type=submit name=increase_brightness value=increase_brightness>
</form>


<!--    <input type="submit" name="submit_button" value="Do Something">-->
<!--    <input type="submit" name="submit_button" value="Do Something Else">-->
<!--    <input type="submit" name="submit_button" value="Do Something">-->
<!--    <input type="submit" name="submit_button" value="Do Something Else">-->
