<!doctype html>
<title>Upload new File</title>
<h1>Upload new File</h1>
<form method=post enctype=multipart/form-data>
    <input type=file name=file>
    <input type=submit value=Upload>
    <input type=submit name=gray value=gray>
    <input type=submit name=increase_brightness value=increase_brightness>
    <input type=submit name=threshold_filter value=threshold_filter>
    <input type=submit name=blur_filter value=blur_filter>
    <input type=submit name=sobel_filter value=sobel_filter>
    <input type=submit name=sepia value=sepia>
    <input type=submit name=cartoon value=cartoon>
    <input type=submit name=pencil_scatch value=pencil_scatch>
    <input type=submit name=pointillism value=pointillism>


</form>


<!--    <input type="submit" name="submit_button" value="Do Something">-->
<!--    <input type="submit" name="submit_button" value="Do Something Else">-->
<!--    <input type="submit" name="submit_button" value="Do Something">-->
<!--    <input type="submit" name="submit_button" value="Do Something Else">-->
